*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    min-height: 40px;
    min-width: 200px;
    font-size: 25px;
    padding: 20px;
    border: 1px solid gray;
    border-radius: 50px;
    cursor: pointer;
    
}